{% extends "myapp/base.html" %}
{% load static %}
{% block title %}ホーム{% endblock %}


<!-- ナビゲーションバー -->
{% block content-navbar %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid z-3">
    <a class="navbar-brand" href="{% url 'myapp:home' %}">
      <img src="{% static 'images/R Photo-logo.png' %}" class="" style="width: min-content; height: 100px;" alt="">
    </a>
    <button type="button" class="navbar-toggler border-0 shadow-none pb-3" data-bs-toggle="collapse" data-bs-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navber" style="font-family: serif;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'myapp:home' %}">ホーム</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">リンク</a>
        </li> -->
        <li class="nav-item dropdown">
          <li class="nav-item">
            <a class="nav-link" href="#">サイトについて</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'myapp:top' %}" class="nav-link" href="#" >ログアウト</a> 
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              フォトコレクション
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'myapp:SpringPhoto' %}">Spring(春)</a></li>
              <li><a class="dropdown-item" href="{% url 'myapp:SummerPhoto' %}">Summer(夏)</a></li>
              <li><a class="dropdown-item" href="{% url 'myapp:AutumnPhoto' %}">Autumn(秋)</a></li>
              <li><a class="dropdown-item" href="{% url 'myapp:WinterPhoto' %}">Winter(冬)</a></li>
              <li><hr class="dropdown-divider"></li>
              <!-- <li><a class="dropdown-item" href="#">その他</a></li> -->
            </ul>
          </li>
        </li>
      </ul>
        <!-- <form class="d-flex" role="search">
          <input type="search" class="form-control me-2" placeholder="検索..." aria-label="検索...">
          <button type="submit" class="btn btn-outline-success flex-shrink-0">検索</button>
        </form> -->
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
<!-- ナビゲーションバー終了 -->

{% block content %} 
<div class="position-absolute rounded-3 d-block">
  <div class="container-fluid">
    <figure class="text-sm-start fst-italic display-5"style="position: absolute; top: 10vh; color: rgba(255, 255, 255, 0.809); writing-mode: horizontal-tb; text-shadow: 1px 1px 3px rgb(0, 0, 0); font-family: YuGothic;">
      <blockquote class="blockquote">
          <p class="A h2">私が出かけた各地で撮影した<br></p>
          <p class="B h2">写真を掲載しています。<br></p>
          <p class="C h2">見ていただいて写真に少しでも<br></p>
          <p class="D h2">興味を持っていただけたらいいなと思い<br></p>
          <p class="E h2">作ったサイトになります。<br></p>
      </blockquote>
    </figure>
      <img src="{% static 'images/P1015705.JPG' %}" class="img-fluid" alt="">
    <small class="" style="font-family: sans-serif; color: #000000;">Copyright ©R's Photo</small>
</div>
<style>
.blockquote, .A {
    animation-duration: 2s;
    animation-name: slidein;
    animation-timing-function: linear;
}
.blockquote, .B {
    animation-duration: 3s;
    animation-name: slidein;
    animation-timing-function: linear;
}
.blockquote, .C {
    animation-duration: 4s;
    animation-name: slidein;
    animation-timing-function: linear;
}
.blockquote, .D {
    animation-duration: 5s;
    animation-name: slidein;
    animation-timing-function: linear;
}
.blockquote, .E {
    animation-duration: 6s;
    animation-name: slidein;
    animation-timing-function: linear;
}


@media screen and (max-width:468px) {
    p {
      font-size: 15px;
      margin-top: -20px;
      padding-top: 30px;
    }
    .blockquote {
      margin-top: -80px;
    }
}

@keyframes slidein {
    from {
        margin-left: 150%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

</style>
{% endblock %}




